@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400..700;1,400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Valorax';
    src: url('/fonts/valorax.otf') format('opentype'),
}

*::-webkit-scrollbar {
    width: 0;
}

* {
    user-select: none;
}

#executive-board {
    cursor: none;
}